<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Campus Navigation & Employee Directory</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
     <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    
</head>
<body>
    <div class="container">
        <h1>Campus Navigation & Employee Directory</h1>

        <form method="GET" action="/" class="filter-form">
            <input type="text" name="q" placeholder="Search employees" value="{{ query }}">
            
            <label>Department:</label>
            <select name="department">
                <option value="">All</option>
                <option value="Computer Science">Computer Science</option>
                <option value="Mechanical">Mechanical</option>
                <option value="Electrical">Electrical</option>
                <option value="Civil">Civil</option>
            </select>

            <label>Status:</label>
            <input type="checkbox" name="status" value="Available"> Available
            <input type="checkbox" name="status" value="Busy"> Busy
            <input type="checkbox" name="status" value="Offline"> Offline

            <button type="submit">Filter</button>
        </form>

        

        <div id="employee-list">
            {% for emp in employees %}
            <div class="employee-card">
                <strong>{{ emp[1] }}</strong> - {{ emp[2] }} <br>
                Location: {{ emp[3] or 'N/A' }}, Room: {{ emp[4] or 'N/A' }} <br>
                Status: {{ emp[5] }} <br>
                Phone: {{ emp[6] }} <br>
                Directions: Go to {{ emp[3] or 'Building' }}, Room {{ emp[4] or 'N/A' }}
            </div>
            {% endfor %}
        </div>
    </div>

    
</body>
</html>
